<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ticket_type.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @ticket_type.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ticket_type.price %>
</p>

<p>
  <strong>Number of registrations:</strong>
  <%= @ticket_type.number_of_registrations %>
</p>

<p>
  <strong>Event:</strong>
  <%= @ticket_type.event %>
</p>

<%= link_to 'Edit', edit_ticket_type_path(@ticket_type) %> |
<%= link_to 'Back', ticket_types_path %>
